#cursor1 {
    width: 90px;
    height: 90px;
    transform: translate(-50%, -50%);
    position: absolute;    
    top: 26%; left: 48%;
    background-color: white;
}
#cursor1 img {  
    padding-left: 3px;
    padding-top: 3px;
  }
  

#cursor2 {
    width: 94px;
    height: 84px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 37%; left: 6%;
}
#cursor2 img {   
    padding-left: 15px;
    padding-top: 3px;
    ;
  }

  #cursor3 {
    width: 94px;
    height: 84px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 23%; 
    left: 86%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cursor3 img {   
    padding-left: 0px;
    padding-bottom: 0%;
}

#cursor3 span {
    padding-left: 0px;
    background-color: white;
    font-family: JetbrainsMono, monospace;
    font-size: 14px;
    margin-top: 0px;
}


#cursor4 {
    width: 94px;
    height: 84px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 66.5702%; left: 43.9484%; 
}
#cursor4 img {   
    padding-left: 15px;
    padding-right: 15px;
    ;
  }


*{
  padding: 0;
  margin: 0;
  font-family: JetbrainsMono, monospace;
  user-select: none;
}

body{
  background-color: white;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background: white;
  width: 100%;
  text-align: center;
  margin-top: 23px;
  gap: 38.8%; /* add a 20px gap between the list items */
}

ul li{
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 7px 5px;
  color: rgb(0, 0, 0, 0.5);
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  width: 90px;
}

ul li ul.dropdown li{
  display: block;
}

ul li ul.dropdown{
  width: 100%;
  position: absolute;
  background: white;
  z-index: 999;
  display: none;
}
ul li a:hover{
  color: rgb(205,63,37);
}

ul li:hover ul.dropdown{
  display: block;
  outline: black solid 2px;
  box-shadow: 6px 6px 0px rgba(127,127,127,0.5); /* 50% transparent */
  margin:0;
}

#Footer{
  position: relative;
  display: flex;
  justify-content: center;
  
  text-align: center; 
  margin-top: 583px;
}

a:hover{
  color: rgb(205,63,37);
}

a{
  color: rgba(0, 0, 0, 0.5); /* 50% transparent */
  font-size: 14px;
  text-decoration: none;
  bottom: 30px;
}

#Footer p{
  color: rgba(0, 0, 0, 0.5); /* 50% transparent */
  padding-right: 5px;
  padding-left: 5px;
  font-size: 14px;
}